body {
	margin:0%;
	font-family: 'Times New Roman', sans-serif;
	color: black;
	background-color: #9a8c98;
	overflow-x: hidden;
	scroll-behavior: smooth;
	}

.nav_bar {
	background-color: #22223B;
	overflow: hidden;
	position: fixed;
	top: 0;
	font-family:'Courier New', Courier, monospace;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.nav_bar a {
	float: left;
	display: block;
	text-align: center;
	padding: 25px 63.2px;
	text-decoration: none;
	color: #f2e9e4;
	margin-bottom: 1px;
	margin-top: 1px;
	transition: color 0.3s ease;
	
}


.nav_bar a:hover{
	color: #FFFFFF; 
  }


.introContent {
	display: flex;
	width: 85%;
}
.were {
	display:flex;
	flex-direction: column;
	font-family: 'Courier New', Monospace;
}
.intro {
	font-family: 'Courier New', Monospace;
	margin-right: 90px;
	width: 50%;
	font-size: 50px;
	background-color:#9a8c98;
}


.introContent .pic,
.introContent .intro {
   padding: 70px;
}

.first_page {
	margin-top: 50px;
}

.first_page {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.first_page .pic,
.first_page p {
	font-size: large;
}

.small_intro {
	margin-right: 100px;
	font-size: 20px;
	float:left;
	margin-top: 15px;
}
  
.paragraph {
	margin-top: 90px;
	line-height: 30px;
	margin-left: 15px;
	margin-right: 20px;
}

.Welcome {
	font-size: xx-large;
	font-weight: bold;
}

.After_Welcome {
	font-size: larger;
}

.Welcome, .After_Welcome {
	margin-top: 30px;
}
.pic {
	height: 100%;
	width: 50%;
	margin-left: 150px;
	margin-top: 30px;
}

.pic img {
	border-radius: 50%; 
	border-color: #22223B;
	border-width: 30px;
	border-style: solid;
	box-shadow: 0 0 0 30px rgba(0, 0, 0, 0.2), 0 0 0 60px rgba(0, 0, 0, 0.1); 
	width: 200px;
	height: 200px;
}

.Education,
.Projects,
.Connect, 
.Languages {
  margin-top: 75px;
  line-height: 25px;
}

.Languages, .Projects, .resume {
	line-height: 30px;
	margin-left: 15px;
	margin-right: 15px;
}

.Education, .Connect {
	margin-left: 15px;
	margin-right: 15px;
	line-height: 30px;
	font-size: larger;
}
.Projects {
    display: flex;
    justify-content: flex-start; /* Adjust as needed */
    flex-wrap: wrap; /* Allow items to wrap to the next line if needed */
}

.Projects .Tic .ticwords a,
.Projects .weather .weatherwords a {
    color: #22223B;
}

.Projects .Tic .ticwords a:hover,
.Projects .weather .weatherwords a:hover {
    color: #FFFFFF; /* White color when hovered */
}

.Tic, .weather {
    width: 40%; /* Adjust width as needed */
    text-align: center;
    margin-bottom: 20px;
}

.ticwords, .weatherwords {
    margin-top: 100px; 
	margin-bottom: 100px;
	color: black;
	font-size: larger;
}

.tictactoepic img, .weather_pic img {
    width: 100px;
	height: 100px; 
	border-radius: 50%; /* Make the image circular */
    overflow: hidden;
	box-shadow: 0 0 0 30px rgba(0, 0, 0, 0.2), 0 0 0 60px rgba(0, 0, 0, 0.1); 
}


.r, .python, .html_logo, .css_logo{
	display: inline-block;
	margin-bottom: 75px;
	display: inline-block;
    vertical-align: top; 
	margin-top: 50px;
    margin-right: 150px; 
	margin-left: 25px;
	margin-bottom: 20px;
	width: 100px;
	height: 100px; 
	border-radius: 50%; /* Make the image circular */
    overflow: hidden;
	box-shadow: 0 0 0 30px rgba(0, 0, 0, 0.2), 0 0 0 60px rgba(0, 0, 0, 0.1);  
}

.r {
	margin-left: 80px;
}

.Tic a:hover {
	color: #fff
}

.weather a:hover {
	color: #fff
}

.add_info_tic,
.add_info_weather {
    font-size: large;
    word-wrap: break-word;
    border: solid;
	border-color: #22223B;
    padding: 10px;
    box-sizing: border-box; 
    width: calc(50% - 20px); 
    float: left; 
	margin-top:60px;
	margin-bottom: 30px;
}

.add_info_weather {
    margin-left: 40px; /* Add some margin between the two elements */
}


.resume {
	margin-top: 20px;
}
.footer {
	background-color: #22223B;
	color: #f2e9e4;
	padding: 2.5% 42%;
	white-space: nowrap;
 }

 .footer a:hover {
	color: #fff; 
  }
a:link { 
	color: #f2e9e4;
	}
a:hover {	
	color: white;
	}
a:visited {	
	color: hsl(329, 21%, 79%);
	}
